/* RESET */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
    width: min(100% - 4rem, 1280px);
    margin-inline: auto;
  }

body{
    background: #060A0F;
    font-family: "Roboto", sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#eeeeee;

    min-height: 100dvh;

    display: grid;
    grid-template-rows: auto 1fr;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}
header .options{
    display: flex;
    gap: 1rem;
}
header .options  button{
    padding:0.5rem 2rem;
    background-color: #444857;
    border:none;
    border-radius: 0.4rem;
    color:inherit;

    cursor: pointer;
}


header{
    border-bottom: 1px solid #aaaaaa;
    margin-bottom:1rem;
}

main .container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    height: 95%;
    /* padding-block: 1fr; */
}

main .container .editors{
    display: flex;
  flex-direction: column;
    gap: 1rem;
    resize:horizontal;
}
main .container .editor-group{
  flex: 1 1 auto;
  transition: flex-basis 250ms ease-in-out;
}
main .container .editor-group:focus-within{
  flex-basis:60vh;
}
.editor-group{
    display: grid;
    grid-template-rows: auto 1fr;
}
#output {
    background-color: #fff;
    margin-top: 1rem;
    height: 100%;
    width: 100%
}

.editor-group {
    display: grid;
    grid-template-rows: auto 1fr
}

@media (width < 800px) {
  body{
    font-size:12px;
  }
  header button{
    padding:0.25rem 0.8rem;
  }
    header .container{
        flex-direction: column;
        gap: 1rem;
    }
    main .container{
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }
    main .container .output{
        grid-row: 1 / 2;
    }
    #output{
      height: 60vh;
    }
  main .container .editor-group:{
  flex-basis:4lh;
  }
    
    main .container .editor-group:focus-within{
  flex-basis:15lh;
}
}
